/* RegistrationForm.css */

.registration-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 75px;
}

.registration-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.registration-form form {
  display: flex;
  flex-direction: column;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.registration-form button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.registration-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.google-signup {
  margin-top: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.logo {
  width: 200px; /* Adjust size as needed */
}
